block documentation
    div.doc
        div.titleText
            #{docTitle}
        for function in docText
            div.functionBlock
                #{title}
                #{description}
                #{code}
